<div class="titan">
    <div>
        <h1>Notes</h1>
        ur mum gey
    </div>
    <div><h2>Lojak</h2></div>
    <div class="head">
        <div class="box">
            <input type="checkbox" class="checkbox" id="box1">
            <label for="box1">H</label>
            <div>
                <img cImg rounded src="assets/images/Skeletal_Smash.png" height="25" />
                <img cImg rounded src="assets/images/Insanity_Void.png" height="25" />
            </div>
            <div>
                <img cImg rounded src="assets/images/Totem_of_Power.png" height="25" />
                <img cImg rounded src="assets/images/Victory_March.png" height="25" />
            </div>
        </div>
    </div>
    <div class="body">
        <div class="left">
            <div class="box">
                <input type="checkbox" class="checkbox" id="box2">
                <label for="box2">LS</label>
                <div>
                    <img cImg rounded src="assets/images/Skeletal_Smash.png" height="25" />
                    <img cImg rounded src="assets/images/Insanity_Void.png" height="25" />
                </div>
                <div>
                    <img cImg rounded src="assets/images/Totem_of_Power.png" height="25" />
                    <img cImg rounded src="assets/images/Victory_March.png" height="25" />
                </div>
            </div>
            <div class="box">
                <input type="checkbox" class="checkbox" id="box3">
                <label for="box3">LH</label>
                <div>
                    <img cImg rounded src="assets/images/Skeletal_Smash.png" height="25" />
                    <img cImg rounded src="assets/images/Insanity_Void.png" height="25" />
                </div>
                <div>
                    <img cImg rounded src="assets/images/Totem_of_Power.png" height="25" />
                    <img cImg rounded src="assets/images/Victory_March.png" height="25" />
                </div>
            </div>
        </div>
      <div class="big-box box-center">
        <input type="checkbox" class="checkbox" id="box4">
        <label for="box4">T</label>
        <div>
            <img cImg rounded src="assets/images/Skeletal_Smash.png" height="25" />
            <img cImg rounded src="assets/images/Insanity_Void.png" height="25" />
            <img cImg rounded src="assets/images/Totem_of_Power.png" height="25" />
            <img cImg rounded src="assets/images/Victory_March.png" height="25" />
        </div>
      </div>
        <div class="right">
            <div class="box">
                <input type="checkbox" class="checkbox" id="box5">
                <label for="box5">RS</label>
                <div>
                    <img cImg rounded src="assets/images/Skeletal_Smash.png" height="25" />
                    <img cImg rounded src="assets/images/Insanity_Void.png" height="25" />
                </div>
                <div>
                    <img cImg rounded src="assets/images/Totem_of_Power.png" height="25" />
                    <img cImg rounded src="assets/images/Victory_March.png" height="25" />
                </div>
            </div>
            <div class="box">
                <input type="checkbox" class="checkbox" id="box6">
                <label for="box6">RH</label>
                <div>
                    <img cImg rounded src="assets/images/Skeletal_Smash.png" height="25" />
                    <img cImg rounded src="assets/images/Insanity_Void.png" height="25" />
                </div>
                <div>
                    <img cImg rounded src="assets/images/Totem_of_Power.png" height="25" />
                    <img cImg rounded src="assets/images/Victory_March.png" height="25" />
                </div>
            </div>
        </div>
    </div>
    <div class="legs">
      <div class="box">
        <input type="checkbox" class="checkbox" id="box7">
        <label for="box7">LL</label>
        <div>
            <img cImg rounded src="assets/images/Skeletal_Smash.png" height="25" />
            <img cImg rounded src="assets/images/Insanity_Void.png" height="25" />
        </div>
        <div>
            <img cImg rounded src="assets/images/Totem_of_Power.png" height="25" />
            <img cImg rounded src="assets/images/Victory_March.png" height="25" />
        </div>
      </div>
      <div class="box">
        <input type="checkbox" class="checkbox" id="box8">
        <label for="box8">RL</label>
        <div>
            <img cImg rounded src="assets/images/Skeletal_Smash.png" height="25" />
            <img cImg rounded src="assets/images/Insanity_Void.png" height="25" />
        </div>
        <div>
            <img cImg rounded src="assets/images/Totem_of_Power.png" height="25" />
            <img cImg rounded src="assets/images/Victory_March.png" height="25" />
        </div>
      </div>
    </div>
</div>